/* Fonts: */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// SASS Variables:
    // * Font variables: *
    $bebasNeueFont: 'Bebas Neue', cursive;
    $openSansFont: 'Open Sans', sans-serif;
    // * Background variables: *
    $bgImg1: url(/Assets/Images/bg1.png);
    $bgImg2: url(/Assets/Images/bg2.jpg);
    $bgImg3: url(/Assets/Images/bg3.png);
    $bgImg4: url(/Assets/Images/bg4.png);
    $bgImg5: url(/Assets/Images/bg5.png);

    $colorRed: red;
h1,h3,a {
    background-image: none;
}

* {
    margin: 0;
    padding: 0;   
    
}




/* Header: */
.main-header {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0.11px;
    background: $bgImg1;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.logo {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 119.68px;
    top: 21.23px;
}
.menu {
    display: flex;
    position: absolute;
    left: 22.3%;
    right: 17.1%;
    top: 4.47%;
    bottom: 84.9%;
    background-image: none;

    font-family: $openSansFont;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 39.21px;
}.menu > p {
     padding-right: 32.04px;
     padding-left: 32.04px;
}.language {
    position: relative;
    left: 3.4%;
    cursor: pointer;
}
   
        
        
/* Icons: */
.header-icons {
    display: flex;
    position: relative;
    justify-content: right;
    flex-direction: row;
    right: 150px;

    margin-top: 39.21px;
    background-image: none;
    
}
.xbox-icon {
    margin-right: 17px;
    width: 30.13px;
    height: 30px;
    background-image: none;
}

.steam-icon {
    width: 30.13px;
    height: 30px;
    background-image: none;
}



/* Main Screen: */
.main-screen {
    background: $bgImg1;
    display: flex;
    background-repeat: no-repeat;
    height: 900px;
    position: initial;
    


    justify-content: center;
    align-items: center;
}
.title-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: none;
}

.title {
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    font-family: $bebasNeueFont;
}
    .sub-title {
        font-size: 24px;
        font-weight: 700;
        font-family: $bebasNeueFont;
        color: #fff;
    }

.purchase-wrapper {
    background-image: none;
    margin-top: 28px;
}
.scroll-down-bttn-wrapper {
    background-image: none;
} .scroll-down-bttn {
    background-image: none;
    position: relative;
    top: 290px;

}

/*About section:*/
.about-section {
    background: $bgImg2;
    height: 1000px;
    background-size: cover;
}

.about-title-wrapper  {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: $bebasNeueFont;
    padding-top: 256px;
    padding-left: 120px;

}  .about-title-h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;

}   .about-title-h1 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 3px;
}   .hr-line {
    position: absolute;
    width: 711.5px;
    height: 2.99px;
    left: 120.84px;
    top: 456.21px;
    z-index: 10;

    background: #FFFFFF;
    border-radius: 4px;

    margin-top: 30px;
}
.about-game-text {
    position: absolute;
    left: 21.32%;
    right: 53.34%;
    top: 550px;
    bottom: 27.91%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    text-align: justify;

    color: #FFFFFF;

}
.sub-text {
    text-decoration: underline;
    color: orange;
}

.screenshot1 {
    position: relative;
    width: 502.76px;
    height: 610.52px;
    left: 700.12px;
    bottom: 290px;
}

/* Features: */
.features-section {
    background: $bgImg3;
    background-repeat: no-repeat;
    height: 870px;
    display: flex;
    justify-content: right;
    
}

.feat-gradient {
    position: absolute;
    background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%);
    

    width: 100%;
    height: 1000px;
}

.features-title-wrapper {
    display: flex;
    flex-direction: column;
    font-family: $bebasNeueFont;
    color: #fff;
    justify-content: right;

    z-index: 1;

    padding-right: 236px;
    padding-top: 295px;
}.feature-title-h3 {
    font-size: 24px;
    font-weight: 700;
}.feature-title-h1 {
    font-size: 80px;
}

.feature1 {
    color: #FFB548;
    font-size: 35px;
    padding-top: 70px;
    position: relative;
    left: 50px;
}.feature2 {
    color: #FFB548;
    font-size: 35px;
    padding-top: 70px;
    position: relative;
    left: 50px;
    top: -27px;
}.feature3 {
    color: #FFB548;
    font-size: 35px;
    padding-top: 70px;
    position: relative;
    left: 50px;
    bottom: 36.7px;
}
.feature1-subtitle {
    font-family: $openSansFont;
    position: relative;
    left: 50px;
}

/* Requirements: */
.requirements-section {
    display: flex;
    height: 1000px;
    
    justify-content: center;
    background: $bgImg4;
    background-repeat: no-repeat;
}

.res-gradient {
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
    
    
    position: absolute;
    

    width: 100%;
    height: 1000px;
}

.requirements-title-wrapper {
    display: flex;
    flex-direction: column;
    
    left: 410px;
    position: relative;

    margin-top: 70px;
    
}.h3 {
    color: #fff;
    font-size: 24px;
    left: 50px;
    position: relative;

    
}.h1 {
    color: #fff;
    font-size: 80px;
    right: 100px;
    position: relative;

    bottom: 50px;
}
.features-title {
    font-family: $bebasNeueFont;
    margin-top: 50px;
}


// ! Disquete Nesting ! //

.disquete-container {
    // border: 1px red solid;
    position: relative;
    height: 300px;
    width: max-content;

    top: 409px;
    right: 626px;
    
}

.os {
    font-family: $openSansFont;
    font-size: 18px;
    color: #fff;

    position: relative;
    bottom: 386px;
    left: 20px;
}.processor {
    color: #fff;
    font-size: 18px;
    font-family: $openSansFont;

    position: relative;
    bottom: 468px;
    left: 292px;
}.ram {
    color: #fff;
    font-size: 18px;
    font-family: $openSansFont;

    position: relative;
    bottom: 418px;
    left: 19px;
}.storage {
    color: #fff;
    font-size: 18px;
    font-family: $openSansFont;

    position: relative;
    bottom: 474px;
    left: 289px;
}.graphics {
    color: #fff;
    font-size: 18px;
    font-family: $openSansFont;

    position: relative;
    bottom: 407px;
    left: 19px;
}

// ! Quotes Section ! //

.quotes-section {
    height: 1000px;
    background: $bgImg5;
    
}

.quotes-gradient {
    background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%);

    position: absolute;
    

    width: 100%;
    height: 1000px;
    z-index: 0;
}

.quotes-info {
    top: 290px;
    left: 121px;
    width: max-content;
    position: relative;
}
.quotes-info > h1 {
    font-family: $bebasNeueFont;
    color: #fff;
    font-size: 80px;
    z-index: 100;

}.quotes-info > h3 {
    color: #fff;
    font-family: $bebasNeueFont;
    font-size: 24px;
}
.quotes-paragraph {
    font-family: $openSansFont;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
}


.quotes-container {
    left: 850px;
    position: relative;
    z-index: 2;
    bottom: 190px;

    width: 0;
}
.quotes-wrapper {
    display: flex;
    flex-direction: column;
    
}
.quote-template {
    height: max-content;
    width: max-content;
    
    margin-top: 20px;
}.quote2 {
    margin-left: -152px;
    position: relative;
}.quote3 {
    margin-left: -30px;
}
.call-to-action-bttn {
    margin-top: 37px;
    z-index: 3;
}


// ! Newsletter ! //
.newsletter-section {
    height: 670px;
    background-color: #000;
}

.skull-image {
    height: 550px;
    background: none;
    position: relative;
    left: 120px;
    top: 20px;
}
.skull-image-container {
}

.newsletter-info > h1  {
    font-family: $bebasNeueFont;
    color: #fff;
    font-size: 80px;

       
    
}.newsletter-info > h3 {
    color: #fff;
    font-family: $bebasNeueFont;
    font-size: 24px;
    
}.newsletter-info {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0;
    left: 700px;
    bottom: 38%;

    width: max-content;

}
.input-field {
    border-radius: 5px;
    height: 60px;
    width: 360px;
    background-color: #212121;

    display: flex;

    margin-top: 50px;
    
}
.input-p {
    font-family: $openSansFont;
    font-size: 14px;
    padding-left: 15px;
    color: #8a8a8a;
    padding-top: 4px;
}
.newsletter-paragraph {
    font-family: $openSansFont;
    color: #fff;
    margin-top: 40px;
}.newsletter-input {
    background: none;
    border: none;
    padding-left: 15px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: #FFB548;
    
}

.subscribe-button {
    margin-left: 137px;
}
.subscribe-gradient {
    background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%);
    height: 500px;
    width: 352px;

    position: relative;

    right: 700px;
   
    
}



// ! Footer

.footer-container {
    height: 280px;
    background-color: #000;
    padding-right: 20px;
    padding-left: 20px;
}
.footer-logo {
    height: 90px;
    width: 90px;
    margin-top: 30px;
    position: relative;

    left: 40px;

}.menu-wrapper  {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: $openSansFont;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;

    
}
.menu-wrapper > p {
    padding-right: 32.04px;
    padding-left: 32.04px;
    position: relative;
    
    bottom: 40px;
}
.social-wrapper {
    display: flex;
    justify-content: end;
    position: relative;

    bottom: 56px;
    
    
}.social-content > img {
    margin-right: 35px;
    

}

.copyright-text {
    color: rgb(60, 60, 60);
    font-size: 14px;

    font-family: $openSansFont;
    
    position: relative;
    top: 44px;
}
.policy {
    color: #fff;
    font-family: $openSansFont;
    font-size: 12px;
    float: right;
    text-transform: uppercase;

    font-weight: 700;

    margin-top: 50px;
}
